<div class="row">
	<div class="col s1 hide-on-med-and-down"></div>
	<div class="col s9 index_title">
		<p>大家都這樣穿</p>
		<p style="margin-top: -25px;font-size: 14px;">不妨試試看吧！</p>
	</div>
	<% if (session.authenticated) { %>
	<div class="col s1 add_pic" style="padding-top: 28px">
		<a href="#modal2" style="width:100%;height: 100%;">
			<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
		</a>
	</div>
	<% } %>
</div>
<div class="row">
	<div class="col s1 hide-on-med-and-down "></div>
	<div class="col s9">
	<div id="freewall" class="free-wall">

		<% result.forEach(function(user){ %>
		<% if(user.post_user.length != 0){ %>
		<div class="brick">
	        <img src="<%- user.post_user[0].fd %>" width="100%">
	        <div class="info">
	        	<div>
			        <b>29°C</b>
			        <p><a href="/account/detail/<%- user.post_user[0].ownname %>"><%- user.name %></a></p>
			        <p class="labell"><%- user.post_user[0].textParams %></p>
		            <br>
		            <i id="<%- user.post_user[0].ownname %>" class="fa fa-heart-o fa-lg like" aria-hidden="true"></i>
	        	</div>
	        </div>
	    </div>
	    <% } %>
	    <% }); %>


	</div>
	</div>
</div>


<% if (session.authenticated){ %>
<% user_follow_list.forEach(function(item){ %>
  <script>
    $("#<%- item.to %>").attr('class', 'fa fa-heart fa-lg like');
  </script>

<% }); %>
<% } %>

<script>
	$( document ).ready(function() {
		$('.like').click(function(){
			console.log($(this).attr('id'));
			follow_or_unfollow($(this).attr('id')).then(function(data){
				return change_button(data);
			}).then(function(){
				console.log('success');
			});
		});
	});

	function change_button(data){

		if(data.message == 'success'){
			if(data.follow == 'yes'){
				$('#'+data.id).attr('class', 'fa fa-heart fa-lg like');
			}
			else{
				$('#'+data.id).attr('class', 'fa fa-heart-o fa-lg like');
			}
		}
	}

	function follow_or_unfollow(user_id){
		var user_data = {};
		user_data['id'] = user_id;

		return new Promise(function(resolve, reject){
			$.ajax({
				method:'GET',
				url: '/follow/index?user_id='+user_id
			}).done(function(data){
				user_data['follow'] = data.follow;
				user_data['message'] = 'success';
				resolve(user_data);
			}).fail(function(){
				alert('failed');
				user_data['message'] = 'fail';
				resolve(user_data);
			});
		});
	}

</script>

